@import "_variables";
@import "_mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  outline: none;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  display: block;
  cursor: pointer;
}

h1 {
  @include text(68px, 75px, 700, $colorWhite);
}

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 70px;
}

.burger {
  display: none;
  &__btn-svg {
    @include svg-icon(24px, 24px, $colorTypograthy);
  }
}

.logo {
  margin-right: 30px;
}

//убрать крестик у инпута
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

//убрать стрелки от номера у инпута

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }
// input[type="number"] {
//   -moz-appearance: textfield;
// }

//hover
@media (min-width: 1024px) {
}

//active, focus

// import swiper
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
@import "../../node_modules/swiper/modules/grid/grid.scss";
@import "../../node_modules/swiper/modules/free-mode/free-mode.scss";
@import "../../node_modules/swiper/modules/thumbs/thumbs.scss";

@media (max-width: 1200px) {
  .logo {
    margin-right: 0;
    grid-column: span 6;
    justify-self: flex-end;
  }
  .burger {
    display: block;
    grid-column: span 6;
  }
  .burger-close {
    display: none;
  }
  .burger-open {
    display: block;
  }
  .burger-open.active {
    display: none;
  }
  .burger-close.active {
    display: block;
  }
}

@media (max-width: 768px) {
  h1 {
    @include text(40px, 50px, 700, $colorWhite);
  }
}
